{{#partial "contenido"}}

    {{#if entidad}}
		<h1> Entidad {{entidad.nombreFicticio}} </h1>
	
		<p><strong>Categoría:</strong> {{entidad.categoria.nombre}}</p>
		<p><strong>Monto Esperado:</strong> {{entidad.montoEsperado}}</p>

		{{#if entidad.descripcion}}
  			<p><strong>Descripción:</strong>{{entidad.descripcion}}</p>
		{{else}}
  			<p><strong>Razón Social:</strong>{{entidad.razonSocial}}</p>
  			<p><strong>Razón Social:</strong>{{entidad.cuit}}</p>
  			<p><strong>Razón Social:</strong>{{entidad.direccionPostal}}</p>
  			<p><strong>Razón Social:</strong>{{entidad.codigoInscripcionIGJ}}</p>
		{{/if}}

	{{/if}}

{{/partial}}

{{>layout.hbs}}