{{#partial "contenido"}}
<h1 style="text-decoration:underline;">Egresos</h1>

<div class="table-responsive container">

    <table class="table table-hover table-responsive">
        <thead>
        <tr>
            <th scope="col">EGRESO</th>
            <th scope="col">PROVEEDOR</th>
            <th scope="col">DOCUMENTO</th>
            <th scope="col">MEDIO DE PAGO</th>
            <th scope="col">FECHA DE OPERACIÓN</th>
            <th scope="col">CANTIDAD DE ITEMS</th>
            <th scope="col">CANTIDAD DE PRESUPUESTOS</th>
            <th scope="col">MONEDA</th>
            <th scope="col">CANTIDAD DE ETIQUETAS</th>
            <th scope="col">OPCIONES</th>
            <th scope="col">ESTADO</th>
        </tr>
        </thead>
    <tbody>

        {{#each egresos}}
        <tr>
            <td>Egreso {{id}}</td>
            <td>{{proveedor.nombreORazonSocial}}</td>
            <td>{{docComercial.tipo}}</td>
            <td>{{medioPago.tipo}}</td>
            <td>{{fechaOperacion}}</td>
            <td>{{cantidadItems}}</td>
            <td>{{cantidadPresupuestos}}</td>
            <td>{{moneda.descripcion}}</td>
            <td>{{cantidadEtiquetas}}</td>
            <td style="padding: 5px;">
                <a title="Editar" style="text-align:center" href="/egreso/{{id}}">
                    <img align="center" class="imagen" src="../images/icons/edit.png">
                </a>
                <a title="Ver Items" style="text-align:center" href="/egreso/{{id}}/items">
                    <img align="center" class="imagen" src="../images/icons/items.png">
                </a>
                <a title="Ver Presupuestos" style="text-align:center" href="/egreso/{{id}}/presupuestos">
                    <img align="center" class="imagen" src="../images/icons/presupuestos.png">
                </a>
            </td>
            <td>
                {{#if valido}}
                    <img align="center" class="imagen" src="../images/icons/si.png">
                {{else}}
                    <img align="center" class="imagen" src="../images/icons/no.png">
                {{/if}}
            </td>

        </tr>

        </tbody>
        {{/each}}
    </table>

    <a href="/egreso" class="nuevoEgreso">Nuevo Egreso</a><br><br>
    <!--a href="/egresos" class="btn btn-info" role="button">Validar</a-->
    
    <form action="/egresos" method="post">
    	<input class="btn btn-primary" type="submit" value="Validar" >
	</form>
</div>

{{/partial}}

{{>layout.hbs}}