{{#partial "contenido"}}
<h1>Egresos</h1>

	<table border="5">
		<tr>
			<th>Egreso</th>
			<th>Proveedor</th>
			<th>Documento</th>
			<th>Medio de Pago</th>
			<th>Fecha de operación</th>
			<th>Cantidad de items</th>
			<th>Cantidad de presupuestos</th>
			<th>Moneda</th>
			<th>Cantidad de etiquetas</th>
			<th>Opciones</th>
		</tr>
		<!--{{#each egresos}}-->
		<tr>
			<td>Egreso {{id}}</td>
			<td>{{proveedor.nombreorazonsocial}}</td>
			<td>{{docComercial.tipo}}</td>
			<td>{{medioPago.tipo}}</td>
			<td>{{fechaOperacion}}</td>
			<td>{{cantidaditems}}</td>
			<td>{{cantidadPresupuestos}}</td>
			<td>{{moneda.cadenaidentificadora}}</td>
			<td>{{cantidadEtiquetas}}</td>
			<td><a href="/egresos/{{id}}">Ver</a><td>
		</tr>
		<!--{{/each}}-->
	</table>

{{/partial}}

{{>layout.hbs}}