{{#partial "contenido"}}

		<form {{#if egreso}}{{#if egreso.item}} action="/egreso/{{egreso.id}}/item/{{egreso.item.id}}" method="post" {{else}} action="/egreso/{{egreso.id}}/item" method="post" {{/if}}{{/if}} style="">
			<h2>Item</h2>
			<div class="formulario">
				<input type="text" name="descripcion" placeholder="Descripción" {{#if egreso.item}} value="{{egreso.item.descripcion}}" {{/if}} required>
				<br><br>
				<input type="text" name="monto" placeholder="Monto" {{#if egreso.item}} value="{{egreso.item.monto}}" {{/if}} required>
			</div>
			
			<h2>
				<input class="btn btn-primary" type="submit" value="CREAR ITEM">
				<a {{#if egreso}} href="/egreso/{{egreso.id}}/items" {{/if}} class="btn btn-default" type="button">Cancelar</a>
			</h2>
		</form>

{{/partial}}

{{>layout.hbs}}