{{#partial "contenido"}}
	
	<h1 style="text-decoration:underline;">Items del egreso {{#if egreso}} {{egreso.id}} {{/if}}</h1>

	<table align="center" border="5">
		<tr>
			<th>ITEM</th>
			<th>DESCRIPCION</th>
			<th>MONTO</th>
			<th>OPCIONES</th>

		</tr>
		{{#if egreso}}
		{{#each egreso.items}}
		<tr>
			<td>Item {{egreso.item.id}}</td>
			<td>{{egreso.item.descripcion}}</td>
			<td>{{egreso.item.monto}}</td>
			<td>
				<a style="text-align:center" href="/egreso/{{id}}">Editar</a>
			</td>
		</tr>
		{{/each}}{{/if}}
	</table>
	<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

	<a {{#if egreso}} href="/egreso/{{egreso.id}}/item" {{/if}} class="nuevoEgreso">Nuevo Item</a><br><br>
{{/partial}}

{{>layout.hbs}}