{{#partial "contenido"}}
	
	<h1 style="text-decoration:underline;">Items del egreso {{#if egreso}} {{egreso.id}} {{/if}}</h1>

	<table align="center" border="5">
		<tr>
			<th>ITEM</th>
			<th>DESCRIPCION</th>
			<th>MONTO</th>
			<th>OPCIONES</th>

		</tr>
		{{#each egreso.items}}
		<tr>
			<td>Item {{id}}</td>
			<td>{{descripcion}}</td>
			<td>{{valorItem.monto}}</td>
			<td>
				<a style="text-align:center" href="/egreso/{{egreso.id}}/item/{{id}}">Editar</a>
			</td>
		</tr>
		{{/each}}
	</table>
	<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

	<a {{#if egreso}} href="/egreso/{{egreso.id}}/item" {{/if}} class="btn btn-primary">Nuevo Item</a>
	<a {{#if egreso}} href="/egresos" {{/if}} class="btn btn-default" type="button">Volver</a>
{{/partial}}

{{>layout.hbs}}