{{#partial "contenido"}}
	
	<h1 style="text-decoration:underline;">Presupuestos del egreso {{#if egreso}} {{egreso.id}} {{/if}}</h1>

	<table align="center" border="5">
		<tr>
			<th>PRESUPUESTO</th>
			<th>DOCUMENTO</th>
			<th>DETALLE</th>
			<th>PROVEEDOR</th>
			<th>MONTO TOTAL</th>
			<th>EGRESO ASOCIADO</th>
			<th>MONEDA</th>
			<!--<th>OPCIONES</th>-->
		</tr>
		{{#each egreso.presupuestos}}
		<tr>
			<td>Presupuesto {{id}}</td>
			<td>{{docComercial.tipo}}</td>
			<td>{{detalle}}</td>
			<td>{{proveedor.nombreORazonSocial}}</td>
			<td>{{montoTotal}}</td>
			<td>Egreso {{egresoAsociado.id}}</td>
			<td>{{moneda.descripcion}}</td>
			<!--<td>
				<a style="text-align:center" href="/egreso/{{egreso.id}}/presupuesto/{{id}}">Editar</a>
			</td>-->
		</tr>
		{{/each}}
	</table>
	<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

	<a {{#if egreso}} href="/egreso/{{egreso.id}}/presupuesto" {{/if}} class="btn btn-primary">Nuevo Presupuesto</a>
	<a {{#if egreso}} href="/egresos" {{/if}} class="btn btn-default" type="button">Volver</a>
{{/partial}}

{{>layout.hbs}}